* {
  box-sizing: border-box;
}

p {
  background-color: pink;
  padding: 10px;
  width: 500px;
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid black;

}

ul{
  background-color: rgb(169, 235, 169);
  border: 3px solid black;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  padding: 10px;
  padding-left: 25px;
  width: 800px;
}
ol{
  background-color: rgb(80, 168, 80);
  border: 3px solid black;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  padding: 10px;
  padding-left: 35px;
  width: 500px;

}
h3{
  color: rgb(22, 158, 22);
  border: 1px solid black;
  width: 300px;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  display: inline-block;
  border-radius: 20%;
  width: 120px;
}

.navbar button{
  background-color: rgb(22, 158, 22);
  color: white;
  border-radius: 50px;
}

/* Color Palette:
Light Shades: #Light pink;
Light Accent: #White;
Main Brand Color: #Pink;
Dark Accent: #Sage green;
Dark Shades: #Black;
*/

.name {color: pink;
font-family: 'Courier New', Courier, monospace;
font-size: 50px;
}